@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: 'Inter', Arial, Helvetica, sans-serif;
  --font-poppins: 'Poppins', Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: rgb(17 24 39);
  font-family: var(--font-inter);
}

body, html, #__next {
  /* Removido overflow e height global para permitir scroll nas páginas que precisam */
}
